<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>zkj.tyxx.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindByIdServlet</servlet-name>
    <servlet-class>zkj.tyxx.servlet.FindByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdServlet</servlet-name>
    <url-pattern>/findById.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>zkj.tyxx.servlet.updateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/updateStudent.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addStudentServlet</servlet-name>
    <servlet-class>zkj.tyxx.servlet.addStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudentServlet</servlet-name>
    <url-pattern>/addStudent.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>zkj.tyxx.servlet.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/deleteStudent.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>zkj.tyxx.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/showStudent.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/addStudent.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/student.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/student1.jsp</url-pattern>
  </filter-mapping>
</web-app>